@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* Shared styles */
*{
     font-family: 'Work Sans', sans-serif;
}
.btn-primary{     
     background-color: #FF900E;
     border-radius: 8px;
     padding: 20px 25px;
     border: none;
     color: #FFF;
     font-size: 1.25rem;
     font-weight: 600;
     cursor: pointer;
}
.light-gray-description{
     color: #727272;
}
/* Header Styles */
header{
     background: rgba(255, 144, 14, 0.10);
     padding: 50px 240px;
}
nav{
     display: flex;
     justify-content: space-between;
}
.nav-title{
     font-size: 2.8rem;
     font-weight: 700;
     color: rgb(19 19 19);
}
nav >ul{
     display: flex;
     justify-content: center;
     align-items: center;
}
nav >ul li{
     list-style: none;
     margin-right: 30px;
     font-weight: 500;
     font-size: 1rem;
}
nav >ul li a{
     text-decoration: none;
     color: rgb(66 66 66);
}
.banner-content{
     max-width: 800px;
     text-align: center;
     margin: 0 auto;
}
.banner-title{
     font-size: 4rem;
     font-weight: 700;
     color: #131313;
}

.banner img{
     width: 100%;
     margin-top: 20px;
}
/* Main Styles */
main{
     max-width: 1440px;
     margin: 70px auto;
}
.features-container{
     display: flex;
     align-items: center;
}
.features-image-container{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 1.5rem;
}
.features-content-container{
     padding-left: 70px;
     padding-right: 70px;
}
.features-title{
     font-size: 2.8rem;
}
.quick-list {
     font-weight: 500;
}
.features{
     color: #FF900E;
     font-weight: 700;
}
.facts-title{
     font-size: 45px;
     font-weight: 700;
}
.facts>p{
     width: 542px;
}

/* Responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
     header{
          padding: 20px;
     }
     nav, .features-container{
          flex-direction: column;
     }
     .nav-title{
          text-align: center;
     }
     nav > ul{
          justify-content: center;
     }
     .features-image-container{
          grid-template-columns: 1fr;
     }
     .features-content-container{
          padding-left: 20px;
          padding-right: 20px;
     }
}
@media screen and (min-width:576px) and (max-width: 1153px) {
     header{
          padding: 20px;
     }
     nav, .features-container{
          flex-direction: column;
     }
     .nav-title{
          text-align: center;
     }
     nav > ul{
          justify-content: center;
     }
     .features-content-container{
          padding-left: 60px;
          padding-right: 60px;
     }
}